
.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contacts__item {
  display: block;
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}
.contacts__link {
  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 1.17;
    &.contacts__link--zoomed {
      font-size: 8vw;
      color: $accent-color;
    }
  }
  display: flex;
  align-items: center;
  font-weight: 500;
  color: inherit;
  transition: color $transition-duration $transition-timing-function,
    fill $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: currentColor;
  }
}
.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
}
