
    $primary-text-font: Roboto, sans-serif;
    $secondary-text-font: Raleway, sans-serif;
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $accent-color: #2196F3;
    $primary-background-color: #2F303A;
    $secondary-background-color: #F5F4FA;
    $background-color: #E5E5E5;
    $general-white: #FFFFFF;
    $general-black: #000000;
    $icons-color:#AFB1B8;
    $transition-duration: 250ms;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

